*block {
    position: 20px 20px;
    size: 80px 60px;
    direction: vertical;
    offset-anchor: top left;
    gap: 2px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 2px;
}

*button {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    accent-color: rgb(18, 18, 18);
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 2px;
}

block#second {
    direction: horizontal;
    offset-anchor: top right;
}

block#third {
    direction: horizontal;
    offset-anchor: bottom left;
}
block#fourth {
    offset-anchor: bottom right;
}
